<FONT COLOR="GREEN"><H3>EDA Customers- DATA CLEANING</H3></FONT>

In [1]:
import pandas as pd

In [2]:
customers_df=pd.read_csv('Customers.csv',encoding='ISO-8859-1')

customers_df.head(5)

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965

<font color="green"><h3>1.Identifying Missing Values</h3></font>

In [3]:
missing_values = customers_df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
CustomerKey     0
Gender          0
Name            0
City            0
State Code     10
State           0
Zip Code        0
Country         0
Continent       0
Birthday        0
dtype: int64

<font color="green"><h3>2.Filling missing values in the dataset</h3></font>

In [4]:
customers_df['State Code'] = customers_df['State Code'].fillna('Not Available')

print(customers_df.isnull().sum())

CustomerKey    0
Gender         0
Name           0
City           0
State Code     0
State          0
Zip Code       0
Country        0
Continent      0
Birthday       0
dtype: int64

<font color="green"><h3>3.Checking datatypes
</h3></font>

In [5]:
print(customers_df.dtypes)

CustomerKey     int64
Gender         object
Name           object
City           object
State Code     object
State          object
Zip Code       object
Country        object
Continent      object
Birthday       object
dtype: object

<font color="green"><h3>4.Correcting datatypes</h3></font>

In [6]:
#Since Birthday dtype is in object, it has to be changed to datetime format
customers_df['Birthday'] = pd.to_datetime(customers_df['Birthday'], errors='coerce', format='%m/%d/%Y')
customers_df['Birthday'] = customers_df['Birthday'].astype('datetime64[ns]')
print(customers_df['Birthday'].dtype)

datetime64[ns]

<font color="green"><h3>5.Identifying Duplicates</h3></font>

In [7]:
duplicate_count = customers_df['CustomerKey'].duplicated().sum()

print(f'Number of duplicate CustomerKey values: {duplicate_count}')

Number of duplicate CustomerKey values: 0

<font color="green"><h3>6.Saving the cleaned data in CSV format</h3></font>

In [8]:
customers_df.to_csv('cleaned_customers.csv', index=False)