In [1]:
import pandas as pd

In [2]:
sales_df=pd.read_csv('Sales.csv')
sales_df.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD

<font color="green"><h3>1.Checking for missing values and datatypes</h3></font>

In [3]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB

<font color="green"><h3>2.Handling the missing values and correcting datatypes</h3></font>

In [6]:
sales_df['Delivery Date']=sales_df['Delivery Date'].fillna("Not Delivered")

In [7]:
sales_df['Order Date'] = pd.to_datetime(sales_df['Order Date'], errors='coerce',format='%m/%d/%Y')
sales_df['Order Date'].dtype

dtype('<M8[ns]')

<font color="green"><h3>3.Import file to csv</h3></font>

In [8]:
sales_df.to_csv('cleaned_Sales.csv', index=False)