In [1]:
import pandas as pd

In [5]:
exchange_rates_df=pd.read_csv('Exchange_Rates.csv')
exchange_rates_df.head()

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

<font color="green"><h3>1.Checking for missing values and datatypes</h3></font>

In [6]:
exchange_rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

<font color="green"><h3>2.Checking for duplicates</h3></font>

In [7]:
duplicates = exchange_rates_df.duplicated(subset=['Date', 'Currency'])
print(f"Number of duplicate Date and Currency combinations: {duplicates.sum()}")

Number of duplicate Date and Currency combinations: 0

<font color="green"><h3>3.Correcting datatype</h3></font>

In [9]:
exchange_rates_df['Date'] = pd.to_datetime(exchange_rates_df['Date'], errors='coerce',format='%m/%d/%Y')
exchange_rates_df['Date'].dtype

dtype('<M8[ns]')

<font color="green"><h3>4.Import to csv</h3></font>

In [10]:
exchange_rates_df.to_csv('cleaned_Exchange_Rates.csv', index=False)